/*.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .btn{
    margin: 2px;;
  }
  .divbtn{
    float: left;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  */
  .top-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: purple;
    padding: 10px 20px;
    z-index: 1000;
    height: 60px;
  }
  
  .left-buttons {
    display: flex;
  }
  
  .nav-button1 {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 690px;
    cursor: pointer;
  }
  .nav-button2 {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 100px;
    cursor: pointer;
  }
  .nav-button3 {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 100px;
    cursor: pointer;
  }
  
  
  .nav-button1:hover {
    color: #0074D9; /* Change the color on hover */
  }
  .nav-button2:hover {
    color: #0074D9; /* Change the color on hover */
  }
  .nav-button3:hover {
    color: #0074D9; /* Change the color on hover */
  }
  .nipobom{
    display: flex;
  }
  .nipob{

    margin-top: 40px;
    margin-left: 50px;
    height: 600px;
    width: 600px;
  }
  .wc{
    margin-top: 180px;
    margin-left: 250px;
    color: purple;
    font-size: 50px;
    height: 100px;

  }
  .sibu{
    font-size: 20px;
    margin-top:70px;
    margin-left: 37%;
    width: 350px;
    height: 50px;
    background-color: purple;
    border-radius: 20px;
    color:white;
    border: #58CC02;
    
  }
  .crbu{
    
    font-size: 20px;
    margin-top: 50px;
    margin-left: 37%;
    width: 350px;
    height: 50px;
    border-color: white;
    color:#1CB0F6;
    border-radius: 20px;
  
    
  }
  .waste{
    margin-left: 180px;
    font-size: 30px;
  }
  .mspas{
    margin-right: -70px;
    margin-top: 30px;
    width: 882px;
    height: 600px;
  }
  .footerbro{
  height: 90px;  
  background-color: white;
  }
  